<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Receptor</servlet-name>
        <servlet-class>Proxy.Receptor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Receptor</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>RedisIpConf</param-name>
        <param-value>192.168.0.101</param-value>
    </context-param>
    <context-param>
        <param-name>HealthRequestUri</param-name>
        <param-value>/STATUS/STATUS/STATUS</param-value>
    </context-param>
    <context-param>
        <param-name>apiMLUrl</param-name>
        <param-value>https://api.mercadolibre.com</param-value>
    </context-param>
    
</web-app>
